:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #2e2e2e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.specification {
  overflow: auto;
  max-height: 80vh;
}

hr {
  margin-bottom: 15px;
}

* {
  touch-action: none;
}